.container-video {
    max-height: 80vh;
    width: 700px;
    overflow-y: scroll;
}

.container-video p {
    width: 300px;
}

.videos {
    width: 330px;
    height: 300px;
}


@media only screen and (min-width: 48em) {
    .videos {
        width: 500px;
        height: 350px;
    }

    .container-video p {
        width: 400px;
    }
}