.brand_logo {
    width: 130px;
    height: 70px;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;

    background-image: url("../images/BCU_mobile_stripe.jpg");
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dropdown_menu > div {
    background-color: var(--custom-black) !important;
}

.navbar a,
.dropdown_item {
    color: #fff !important;
}

.navButtons {
    border-radius: 2px !important;
    padding-block: 0.625rem !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
}

.btn_warning {
    color: var(--custom-black) !important;
}

.btn_warning,
.btn_warning:active {
    /* ? gold rendition 1 */
    background-image: linear-gradient(
        to left,
        var(--gold-primary),
        var(--gold-light-1),
        var(--gold-dark),
        var(--gold-light-1),
        var(--gold-primary)
    );

    border: 1px solid var(--gold-primary);
}

.btn_outline_warning,
.btn_outline_warning:hover,
.btn_outline_warning:active {
    border: 2px solid var(--gold-dark);
}

@media only screen and (min-width: 48em) {
    .brand_logo {
        width: 150px;
        height: 80px;
    }

    .navbar_expand_lg .navigation {
        margin-left: 0 !important;
    }

    .btn_warning,
    .btn_outline_warning {
        width: 300px;
    }
}

@media only screen and (min-width: 64em) {
    /* * moves the navbarScroll to the top of the header container  */
    .navbarScroll {
        margin-top: -5rem;
    }

    .brand_logo {
        width: 280px;
        height: 130px;
    }

    /* * gives the links a white background and gold color  */
    .navbar .nav_link:not(.navButtons:nth-last-child(2)):hover {
        background: #fff;
        color: var(--gold-primary) !important;
    }

    .dropdown_menu a:hover {
        color: var(--gold-primary) !important;
        background: #fff;
    }

    .btn_warning,
    .btn_outline_warning {
        width: 100px;
    }

    .navbar_nav a {
        border-bottom: 1px solid transparent;
    }

    .navbar {
        background-image: url("../images/BCU\ London\ Universe\ STRIP.jpg");
        background-position: center center;
        background-size: cover;
        background-color: var(--gold-dark);

        /* * align navigation at the top  */
        display: flex;
        height: 180px;
        position: relative !important;
    }
}
