.brand-logo {
    width: 120px;
    height: 60px;
}

.dropdown-menu {
    background: var(--black) !important;
}
.dropdown-menu a:hover {
    background: var(--blue) !important;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-nav a,
.dropdown-item {
    color: #fff !important;
}

.searchbar {
    border: 1px solid var(--blue-transparent) !important;
}

.navButtons {
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: #fff !important;
    
}

.navButtons:hover {
    border: none !important;
}

.btn.btn-warning {
    background: var(--blue) !important;
    border: 1px solid var(--blue);
    /* color: var(--black) !important; */
}
.btn.btn-outline-warning,
.btn.btn-outline-warning:hover {
    border: 1px solid var(--blue-shade-1) !important;
    background: var(--blue-shade-1) !important;
    color: #fff !important;
}


@media only screen and (min-width: 48em) {
    /* *,
    *::before,
    *::after {
        font-size: 0.9rem;
    } */

    .brand-logo {
        width: 130px;
        height: 70px;
    }

    .navbar-expand-lg .navigation {
        margin-left: 0 !important;
    }

    .searchbar {
        width: 230px !important;
        padding-top: 1.3rem !important;
        padding-bottom: 1.3rem !important;
    }
    
    .searchbar {
        width: 300px !important;    
    }

    .btn {
        width: 300px;
    }
}

@media only screen and (min-width: 75em) {
    *,
    *::before,
    *::after {
        font-size: 1rem;
    }

    .brand-logo {
        width: 280px;
        height: 130px;

    }

    .dropdown-menu {
        background: var(--black) !important;
    }
    .dropdown-menu a:hover {
        /* background: rgba(255, 255, 255, 0.6) !important; */
        background: var(--blue-transparent) !important;
    }

    .searchbar {
        background: var(--black) !important;
        color: #fff !important;
        border: 1px solid var(--blue) !important;
        margin-left: 0.3rem;
        width: 270px !important;
    }

    .btn {
        width: 100px;
    }
}
