/* .col {
    border: 1px solid var(--blue);
} */

.heading-2 {
    color: #fff;
}
.tv-box {
    height: 350px;
}

.coming-soon {
    height: 150px;
    margin-bottom: 2rem;
}

.coming-soon .col p {
    padding-top: 2rem;
    font-size: 2.3rem;
}
.coming-soon p .lead {
    padding-left: 1rem;
    font-size: 1rem;
}

@media only screen and (min-width: 48em) {
    .tv-box, .coming-soon .col {
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .tv-box {
        height: 550px;
    }

    .coming-soon .col {
        border: none;
    }

}

/* desktop devices  */
@media only screen and (min-width: 75em) {
    .home .column {
        display: flex;
    }
    
    .home .column .row:first-child {
        flex: 1 !important;
        margin-bottom: 2rem;
        height: auto;
    }

    .coming-soon .col p {
        line-height: 550px;
        word-wrap: break-all;
        width: 300px;
        font-size: 1.8rem;
        /* margin-left: -1rem; */
    }

    .coming-soon p .lead {
        padding-left: 1rem;
        font-size: 0.8rem;
       
    }
    
    .coming-soon {
        width: 360px;
        word-break: break-all;
    }

    .tv-box {
        width: 600px !important;
        overflow: hidden;
    }
    .tv-box .card-title {
        display: none;
    }
    .tv-box .card {
        margin-top: 0;
        margin-right: 0 !important;
    }
    .tv-box iframe {
        width: 900px !important;
    }
}