.form-control,
.form-control:focus {
    background: none !important;
}

.form-control {
    border: 1px solid var(--blue-tint-1) !important;
    outline: none !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    color: var(--gold-tint-1-light) !important;
}

.btn-primary {
    color: #fff !important;
}

/* come back take a look at this crap */
@media only screen and (min-width: 48em) {

    .form, .form-login {
        margin: auto !important;
        width: 450px;
        margin-bottom: 5rem !important;
    }

    .signup .btn {
        width: 150px;
        margin-left: 1.5rem;
    }

    .signup, .login {
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
}

@media only screen and (min-width: 75em) {
    .form,
    .form-login {
        border: 2px solid var(--gold);
        height: 350px;
        width: 550px;
        padding: 3rem 1rem 0 2rem;
        margin: auto;
    }
    .signup {
        margin-top: 4rem;
        margin-bottom: 9rem;
    }

    .form-login {
        height: 300px;
        margin-bottom: 9rem;
    }
    .login {
        margin-top: 4rem;
    }

    .form-control {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .main {
        min-height: 600px;
    }
}
