.login h4 {
    color: var(--gold-primary);
}

.form-control {
    background: var(--black) !important;
    color: #fff !important;
    outline: none !important;
    border-color: var(--gold-dark) !important;
}

.form-control:focus {
    /* box-shadow: rgba(191, 149, 63,.3) !important; */
    box-shadow: 0 0 0 0.2rem var(--gold-hue) !important;
}


/* come back take a look at this crap */
@media only screen and (min-width: 48em) {

    .form, .form-login {
        margin: auto !important;
        width: 450px;
        margin-bottom: 5rem !important;
    }

    .signup .btn {
        width: 150px;
        margin-left: 1.5rem;
    }

    .signup, .login {
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
}

@media only screen and (min-width: 64em) {
    .form,
    .form-login {
        border: 2px solid var(--gold-dark);
        height: 330px;
        width: 550px;
        padding: 3rem 1rem 0 2rem;
        margin: auto;
    }

    .signup {
        margin-top: 4rem;
        margin-bottom: 9rem;
    }

    .form-login {
        height: 300px;
        margin-bottom: 9rem;
    }
    .login {
        margin-top: 4rem;
    }

    .form-control {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    /* .main {
        min-height: 600px;
    } */

    /* ? give the button a left margin  */
    .btn-align {
        margin-left: 2.8rem !important;
    }
}
