.radio .card {
    width: 500px;
    margin: 5rem auto 5rem auto;
    background: var(--black) !important;
}

.sound {
    width: 200px;
    display: block;
    margin: auto;
}


@media only screen and (min-width: 48em) {
    .radio .card {
        width: 400px !important;
        margin: 8rem auto 8rem auto !important;
    }
}