.radio .card {
    width: 320px;
    margin: 5rem auto 5rem auto;
    background: var(--black) !important; 
}

.sound {
    width: 250px;
    display: block;
    margin: auto;
}
.sound::-webkit-media-controls-panel {
    box-shadow: inset 0 0 15px grey;
    background: #f1f1f1;
}

@media only screen and (min-width: 48em) {
    .radio .card {
        width: 400px !important;
        margin: 8rem auto 8rem auto !important;
    }
}