:root {
    /* --blue: hsl(210, 100%, 38%);
    --blue-tint-1: #1457c2;
    --blue-shade-1: hsl(208, 38%, 18%);
    --blue-transparent: #2994ff; */

    /* * custom gold colors  */
    /* --gold-variety-light: #F2D479;
    --gold-variety-1: #F2B138;
    --gold-variety-2: #D98A29;
    --gold-variety-dark: #59380E; */
    --black: #091015;

    /* * color schemes 1[that works]  */
    --gold-primary: #bf953f;
    --gold-secondary: #b38728;
    --gold-light-1: #fcf6ba;
    --gold-light-2: #fbf5b7;
    --gold-dark: #aa771c;

    /* --gold-light: #F2D479;
    --gold-primary: #f2b138;
    --gold-secondary: #D98A29;
    --gold-dark: #59380E; */
}
/* 0061c0 */
*,
*::before,
*::after {
    font-size: 15px;
    color: #fff;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: "poppins", sans-serif !important;
    
}

.image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}