:root {
    --gold: hsla(48, 100%, 44%, 1);
    --gold-tint-1: hsl(40, 100%, 60%);
    --gold-tint-1-light: hsla(48, 100%, 96%, 1);
    --gold-tint-1-transparent: hsla(48, 100%, 96%, 0.4);
    --black: hsla(0, 0%, 0%, 1);
}

*,
*::before,
*::after {
    font-size: 16px;
    color: #fff;
}

body {
    background: top left/cover url("./images/BCU\ WEBSITE\ BACKGROUND2.jpg") !important;
    margin: 0;
    /* font-family: "poppins", sans-serif; */
    font-family: "poppins", sans-serif !important;
}
