:root {
    /* * custom colors  */
    /* --black: #091015; */
    --custom-black: #0a1117;
    --custom-black2: #0f181d;

    /* * gold color schemes 1[that works]  */
    --gold-primary: #bf953f;
    --gold-secondary: #b38728;
    --gold-light-1: #fcf6ba;
    --gold-light-2: #fbf5b7;
    --gold-dark: #aa771c;
    --gold-hue: rgba(179, 135, 40, 0.3);

    /* * socail icon colors  */
    --facebook: #3a558c;
    --twitter: #05c7f2;
}

*,
*::before,
*::after {
    font-size: 15px;
    box-sizing: border-box;
}

body {
    background: var(--custom-black);
    color: #fff;
    position: relative;
    margin: 0;
    font-family: "poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
