.page-footer {
    .list-unstyled li a {
        color: #ccc !important;
    }
}

.list_group {
    background: none !important;
}

.icon svg {
    width: 30px;
    height: 30px;
    background: #fff;
}

.list-unstyled li {
    margin-bottom: 1rem;
}

.col-md-3 h5 {
    color: var(--gold-primary);
}

@media only screen and (min-width: 48em) {
    .icon {
        margin-left: -0.5rem;
    }
}

@media only screen and (min-width: 64em) {
    .list_group {
        width: fit-content;
    }

    .page-footer .row {
        margin-left: 7rem;
    }

    .icon svg {
        width: 36px;
        height: 36px;
    }
}
