.video-container {
    width: 100% !important;
    height: auto !important;
    background: red;
}

.television > .tv_card {
    box-shadow: none;
    border: none;
    width: auto;
    margin-inline: -15px;
    margin-block: 2rem;
    padding-block: 1rem;
    background: none;
}

@media only screen and (min-width: 48em) {
    .video-container {
        height: 400px !important;
        width: auto !important;
        margin: auto;
    }

    .television > .tv_card {
        margin-top: 4rem;
    }

    .spacing {
        margin-bottom: 10rem;
    }
}

@media only screen and (min-width: 64em) {
    .video-container {
        height: 540px !important;
        width: 1000px !important;
    }
}
