.video-container {
    width: 100% !important;
    height: 250px !important;
}

.television .card {
    width: auto !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    background: none !important;
}

@media only screen and (min-width: 48em) {
    .video-container {
        height: 400px !important;
        width: auto !important;
        margin: auto;
    }

    .television .card {
        margin-top: 4rem;
    }

    .spacing {
        margin-bottom: 10rem;
    }
}

@media only screen and (min-width: 64em) {
    .video-container {
        /* margin-left: 0; */
        /* margin-top: -4rem; */
        height: 540px !important;
        width: 1000px !important;
    }
}